/* Header */
.header {
    -fx-background-color: #000000;
}

.back-button {
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-font-size: 14;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

.back-button:hover {
    -fx-background-color: #1b2a49;
}

.title {
    -fx-text-fill: #FAFAFA;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

/* Details container */
.details-container {
    -fx-background-color: #1A1A1A;
}

.criminal-card {
    -fx-background-color: #272727;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-font-family: Arial;
}

.image-container {
    -fx-border-color: #F08000;
    -fx-border-width: 1;
}

.report-button {
    -fx-background-color: #F08000;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-border: none;
}

.criminal-name {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}

.criminal-details {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}