.login-card {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #CCC;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.icon-box {
    -fx-background-color: #F1F1F1;
    -fx-background-radius: 10px;
    -fx-alignment: center;
}

.input-field {
    -fx-background-color: white;
    -fx-background-radius: 6px;
    -fx-border-color: #ccc;
    -fx-border-radius: 6px;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #999;
    -fx-padding: 8;
}

.login-button {
    -fx-background-color: #262626;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-radius: 6;
}

.label-name {
    -fx-font-size: 15;
}